body {
  box-sizing: border-box;
  background-color: #FDFFFF;
  font-family: 'Raleway', Arial, sans-serif;
  width: 70%;
  margin: 10px auto;
}

h1 {
  color: #265C00;
}

h3 {
  margin-top: 40px;
}

.button {
  padding: 5px 40px;
  margin: 10px;
  width: 80px;
  border: black solid 1px;
  text-align: center;
}

.button:hover {
  background-color: #B3DE81;
}

#two, #three {
  display: none;
}

label {
  width: 120px;
  margin-bottom: 5px;
  display: inline-block;
}

footer {
  margin-top: 40px;
  color: #68A225;
}
